version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly

  - package-ecosystem: nuget
    directory: "/src"
    schedule:
      interval: daily
      time: "04:00"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
