/Cottle/bin/
/Cottle/obj/
/Cottle.Demo/bin/
/Cottle.Demo/obj/
/Cottle.Test/bin/
/Cottle.Test/obj/
/packages/
/tests/
/Cottle.*.nupkg
/TestResult.xml
project.lock.json
*.project.lock.json
*.sln.sdsettings
*.suo
*.user
