name: Verify

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: '40 4 * * *'

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true

jobs:
  check:
    name: Check style
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
      - run: dotnet format --no-restore --verify-no-changes src/Cottle.sln

  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet: # https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json
          - framework: net8.0
          - framework: net9.0
          - framework: net10.0

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
      - run: dotnet build src/Cottle --framework ${{ matrix.dotnet.framework }}
      - run: dotnet build src/Cottle.Benchmark --framework ${{ matrix.dotnet.framework }}
      - run: dotnet build src/Cottle.Test --framework ${{ matrix.dotnet.framework }}

  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet:
          - framework: net10.0

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
      - run: dotnet test src/Cottle.Test --framework ${{ matrix.dotnet.framework }}

  publish:
    name: Publish NuGet package
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
      - run: dotnet pack src/Cottle --configuration Release --output pack
      - run: dotnet nuget push ./pack/*.nupkg --skip-duplicate --api-key "${{ secrets.NUGET_API_KEY }}" --source "https://api.nuget.org/v3/index.json"
 
  validate:
    name: Validate
    runs-on: ubuntu-latest
    needs:
      - build
      - check
      - test

    steps:
      - run: true
